{% extends 'homepage/base.html' %}
{% load static %}


{% block contentblock %}
<!--Main layout-->
<main style="padding-top:100px;">
  <div class="cart container-fluid">
    <h2 class="text-center text-dark">Điểm thưởng </h2>
    <div class="row mt-5 pl-4">
      <div class="col-md-3 border bg-light">
        <div class="total m-3">
          <div class="row py-4 border">
            <div class="col-md-12 d-flex justify-content-between">
              <strong>{{request.user}}</strong>
              <!-- <span>{{total}}</span> -->
            </div>
          </div>
          <div class="row py-4 ">
            <div class="col-md-12 ">
              <h4>
                <a href="" type="submit" class="btn"><i class="far fa-user p-2 d-inline-block"></i>Tài khoản của tôi</a>
              </h4>
              <h4>
                <a href="{% url 'user:address'%}" type="submit" class="btn"><i class="fas fa-map-marker-alt p-2 d-inline-block"></i>Địa chỉ</a>
              </h4>
              <h4 class="">
                <a href="{% url 'user:purchase'%}" type="submit" class="btn"><i class="fas fa-store p-2 d-inline-block"></i>Đơn mua</a>
              </h4>
              <h4 class="">
                <a href="{% url 'user:rewardpoints'%}" type="submit" class="btn"><i class="fab fa-bitcoin p-2 d-inline-block"></i>Điểm thưởng</a>
              </h4>
                
             
             
             
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9 ">
        <div class="content   p-2">
          <div class="row bg-light p-3 mb-3 border ">
              <div class="col-md-12">
                <div class="d-flex align-items-center">
                    <img class="product-img-small" src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/75efaf1b556a8e2fac6ab9383e95d4e3.png" alt="">
                    <strong class="text-danger fa-2x px-3">{{total}}</strong><span class="text-info">điểm đang có</span>
                </div>
              </div>
          </div>
         
          
          {% for point in listPoint %}
          <div class="row bg-light py-2 mb-3 border-bottom d-flex align-items-center">
            <div class="col-md-9">
             
              <div class="d-flex">
                <img src="{{point.product_thumbnail}}" class="product-img-md" alt="" style="width:80px; height:80px;">
                <div>
                    <h6 class="product_title-checkout" >{{point.product_name}}</h6>
                    <span class="product_title-checkout text-dark font-weight-light">BoEC tặng khi đánh giá sản phẩm</span>
                    <small class="product_title-checkout" style="width: 250px;">{{point.created_at}}</small>
                </div>
              </div> 
            </div>
           
            <div class="col-md-3 text-right">
                
                    <span class="text-warning" style="font-size:30px">+ {{point.point}}</span>
            </div>
           
        </div>
          {% endfor %}


      </div>

    </div>
    <div class="modal fade" id="viewcomment" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Đánh giá</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="content_rating">

            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
           
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="comment_product" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Đánh giá sản phẩm</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="product_rating">
              
            </div>

         
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
           
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Section: Products v.3-->
  <!--Pagination-->

</main>
{%endblock%}